<!DOCTYPE HTML>
<html>
	<head>
		<title>My madness</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a href="index.html" id="logo">My World of randomness!</a></h1>
						</div>
					</div>
				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<h2>Well hello there...</h2>
						<p style="color:papayawhip;">
							I have such a broad range of stuff in my head that I thought I would bring some of them together in a single place!
							<br>Why?
							<br>I am really not sure but I am hoping that time will tell
						</p>
					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">

								<!-- Highlight -->
									<section class="box highlight">
										<ul class="special">
											<li><a link href="{{club}}" class="icon solid fa-golf-ball"><span class="label">Golf</span></a></li>
<!--											<li><a href="random_club.html" class="icon solid fa-golf-ball"><span class="label">Golf</span></a></li>-->
											<li><a href="right-sidebar.html" class="icon solid fa-space-shuttle"><span class="label">Rocket</span></a></li>

										</ul>
										<header>
											<h2>A random assortment of icons in circles</h2>
											<p>These circels are the gateway to the randomness that I am taking you too...</p>
										</header>
									</section>

							</div>
						</div>
					</div>
				</section>

		</div>

	</body>
</html>